flows_RAZZ.json
[{"id":"a06a4dc5.5f95b","type":"tab","label":"Send"},{"id":"3ba3792e.ab4596","type":"tab","label":"LED - MQTT - Output"},{"id":"f78a7095.1fddd","type":"tab","label":"RPi Control"},{"id":"a98b299b.f33758","type":"tab","label":"Sample buttons"},{"id":"6ba61b52.6e44c4","type":"mqtt-broker","z":"","broker":"192.168.0.16","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"86cf7df0.140e2","type":"ui_group","z":"","name":"IoT Testing","tab":"20b2c138.ce8bee","order":1,"disp":true,"width":"6"},{"id":"20b2c138.ce8bee","type":"ui_tab","z":"a06a4dc5.5f95b","name":"Home","icon":"dashboard","order":1},{"id":"548e6eb0.79d11","type":"ui_link","icon":"open_in_browser","target":"newtab","order":1},{"id":"4e8a8f3a.04528","type":"ui_group","z":"","name":"Col1","tab":"37238d39.3106e2","order":1,"disp":false,"width":"6"},{"id":"8a9bb659.6f5f88","type":"ui_group","z":"","name":"Actions","tab":"37238d39.3106e2","order":4,"disp":true,"width":"6"},{"id":"f3837073.cba0c","type":"ui_group","z":"","name":"Col2","tab":"37238d39.3106e2","order":2,"disp":false,"width":"6"},{"id":"92f7cc7.963a63","type":"ui_group","z":"","name":"Col3","tab":"37238d39.3106e2","order":3,"disp":false,"width":"6"},{"id":"37238d39.3106e2","type":"ui_tab","z":"","name":"RPi Control","icon":"dashboard","order":2},{"id":"88d24aa2.c4dd48","type":"ui_group","z":"","name":"digital","tab":"","order":2,"disp":true,"width":"6"},{"id":"48b1c0b9.e9e6c","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-dark"},{"id":"c961d63.8f98428","type":"ui_group","name":"Group 5","tab":"37238d39.3106e2","order":5,"disp":true,"width":6},{"id":"33b94b63.7e0904","type":"ui_group","z":"","name":"Default","tab":"20b2c138.ce8bee","order":2,"disp":true,"width":"6"},{"id":"dfb7bbb0.0644b8","type":"ui_tab","z":"","name":"testing","icon":"dashboard"},{"id":"b1dc2a0c.4e23d8","type":"rpi-gpio in","z":"a06a4dc5.5f95b","name":"Physical Button","pin":"31","intype":"down","debounce":"250","read":false,"x":129,"y":184,"wires":[["46c9fbe0.d2b6d4"]]},{"id":"46c9fbe0.d2b6d4","type":"mqtt out","z":"a06a4dc5.5f95b","name":"Send Command","topic":"Output/LED/ALL","qos":"0","retain":"false","broker":"6ba61b52.6e44c4","x":600,"y":140,"wires":[]},{"id":"cc0052b5.5f156","type":"ui_gauge","z":"f78a7095.1fddd","name":"","group":"4e8a8f3a.04528","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":740,"y":61,"wires":[]},{"id":"c3639a62.c17238","type":"exec","z":"f78a7095.1fddd","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":380,"y":61,"wires":[["426b900a.8643f"],[],[]]},{"id":"a3ff0bb.37214f8","type":"inject","z":"f78a7095.1fddd","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":174.5,"y":69.25,"wires":[["c3639a62.c17238","29fdf5a3.7a08da","63026da2.65bc24"]]},{"id":"426b900a.8643f","type":"function","z":"f78a7095.1fddd","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":61,"wires":[["cc0052b5.5f156","3ccc621c.6c32fe"]]},{"id":"2935fa5.dbedf06","type":"ui_button","z":"f78a7095.1fddd","name":"","group":"8a9bb659.6f5f88","order":2,"width":0,"height":0,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":441,"wires":[["bb878000.11c43"]]},{"id":"bb878000.11c43","type":"exec","z":"f78a7095.1fddd","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":368,"y":441,"wires":[[],[],[]]},{"id":"5a5a3dac.17bb84","type":"ui_button","z":"f78a7095.1fddd","name":"","group":"8a9bb659.6f5f88","order":3,"width":0,"height":0,"label":"Shutdown","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":158.5,"y":485.25,"wires":[["5e1fe780.b42b58"]]},{"id":"5e1fe780.b42b58","type":"exec","z":"f78a7095.1fddd","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":379.5,"y":503.25,"wires":[[],[],[]]},{"id":"3ccc621c.6c32fe","type":"ui_chart","z":"f78a7095.1fddd","name":"","group":"4e8a8f3a.04528","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":740,"y":101,"wires":[[],[]]},{"id":"29fdf5a3.7a08da","type":"exec","z":"f78a7095.1fddd","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":380,"y":141,"wires":[["c12a40fb.255a2"],[],[]]},{"id":"63026da2.65bc24","type":"exec","z":"f78a7095.1fddd","command":"free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Free Memory","x":380,"y":221,"wires":[["dbc18303.8fb2"],[],[]]},{"id":"c12a40fb.255a2","type":"ui_gauge","z":"f78a7095.1fddd","name":"","group":"4e8a8f3a.04528","order":1,"width":0,"height":0,"gtype":"gage","title":"Processor","label":"CPU","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":740,"y":141,"wires":[]},{"id":"dbc18303.8fb2","type":"ui_gauge","z":"f78a7095.1fddd","name":"","group":"f3837073.cba0c","order":1,"width":0,"height":0,"gtype":"gage","title":"Memory","label":"RAM","format":"{{value.toFixed(1)}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":740,"y":221,"wires":[]},{"id":"e357a267.d15a","type":"exec","z":"f78a7095.1fddd","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":380,"y":301,"wires":[["c750942d.807df8"],[],[]]},{"id":"b9bda06f.a4667","type":"ui_gauge","z":"f78a7095.1fddd","name":"","group":"92f7cc7.963a63","order":1,"width":0,"height":0,"gtype":"gage","title":"Disk","label":"Usage","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":740,"y":301,"wires":[]},{"id":"c750942d.807df8","type":"function","z":"f78a7095.1fddd","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":301,"wires":[["b9bda06f.a4667"]]},{"id":"2a97fcca.0cbbb4","type":"inject","z":"f78a7095.1fddd","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":180,"y":301,"wires":[["e357a267.d15a"]]},{"id":"c34a4d62.b9e99","type":"ui_switch","z":"a06a4dc5.5f95b","name":"Dashboard Switch","label":"MQTT Switch","group":"86cf7df0.140e2","order":0,"width":0,"height":0,"passthru":false,"topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":138,"y":129,"wires":[["46c9fbe0.d2b6d4"]]},{"id":"8e848f7b.a7faf","type":"ui_button","z":"a06a4dc5.5f95b","name":"","group":"86cf7df0.140e2","order":0,"width":0,"height":0,"label":"Random Button","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"ButtonPressed","x":133,"y":61,"wires":[[]]},{"id":"cd7c523f.ebcb9","type":"ui_template","z":"a98b299b.f33758","group":"33b94b63.7e0904","name":"blue","order":4,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Blue<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":353,"y":173,"wires":[[]]},{"id":"26776081.e737e","type":"ui_template","z":"a98b299b.f33758","group":"33b94b63.7e0904","name":"red","order":2,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: 'Hello World'})\"> \n    Red<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":353,"y":93,"wires":[[]]},{"id":"8b3f75ab.4430a8","type":"ui_template","z":"a98b299b.f33758","group":"33b94b63.7e0904","name":"green","order":3,"width":"2","height":"2","format":"\n<md-button class=\"filled touched bigfont rounded vibrate\" style=\"background-color:#27ae60\" ng-click=\"send({payload: 'Hello World'})\"> \n    Green<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":353,"y":133,"wires":[[]]},{"id":"a174e05c.6f482","type":"ui_template","z":"a98b299b.f33758","group":"33b94b63.7e0904","name":"","order":5,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#16a085\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Blue<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":363,"y":253,"wires":[[]]},{"id":"2c9fa652.93422a","type":"ui_template","z":"a98b299b.f33758","group":"33b94b63.7e0904","name":"","order":6,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#e67e22\" ng-click=\"send({payload: 'Hello World'})\"> \n    Red<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":363,"y":213,"wires":[[]]},{"id":"29c5973d.bdcdc8","type":"ui_template","z":"a98b299b.f33758","group":"33b94b63.7e0904","name":"on","order":7,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#34495e\" ng-click=\"send({payload: 'Hello World'})\"> \n    On\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":353,"y":293,"wires":[[]]},{"id":"3a540433.4a718c","type":"ui_template","z":"a98b299b.f33758","group":"33b94b63.7e0904","name":"off","order":8,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#8e44ad\" ng-click=\"send({payload: 'Hello World'})\"> \n    Off\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":353,"y":333,"wires":[[]]},{"id":"6c5789b1.cdee58","type":"ui_template","z":"a98b299b.f33758","group":"33b94b63.7e0904","name":"stuff","order":0,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"x":233,"y":93,"wires":[[]]},{"id":"db1a3366.1763b","type":"mqtt out","z":"a06a4dc5.5f95b","name":"","topic":"Testing Topic","qos":"","retain":"","broker":"6ba61b52.6e44c4","x":272,"y":363,"wires":[]},{"id":"3441bf9b.34356","type":"inject","z":"a06a4dc5.5f95b","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":121,"y":313,"wires":[["db1a3366.1763b"]]},{"id":"dd4d15d.30467e8","type":"inject","z":"a06a4dc5.5f95b","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":400,"wires":[["db1a3366.1763b"]]},{"id":"248a3aab.bb32c6","type":"rpi-gpio out","z":"3ba3792e.ab4596","name":"LED - Red","pin":"11","set":true,"level":"0","out":"out","x":930,"y":120,"wires":[]},{"id":"6369e493.cf7e7c","type":"rpi-gpio out","z":"3ba3792e.ab4596","name":"LED - Yellow","pin":"13","set":true,"level":"0","out":"out","x":930,"y":220,"wires":[]},{"id":"e33ce03d.6f718","type":"rpi-gpio out","z":"3ba3792e.ab4596","name":"LED - Green","pin":"15","set":true,"level":"0","out":"out","x":930,"y":320,"wires":[]},{"id":"9f294152.bc2fe","type":"ui_text","z":"3ba3792e.ab4596","group":"86cf7df0.140e2","order":5,"width":0,"height":0,"name":"","label":"LED - Yellow","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":180,"wires":[]},{"id":"e615d8eb.01b068","type":"ui_text","z":"3ba3792e.ab4596","group":"86cf7df0.140e2","order":6,"width":0,"height":0,"name":"","label":"LED - Green","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":280,"wires":[]},{"id":"4aae25f7.e9cbec","type":"ui_text","z":"3ba3792e.ab4596","group":"86cf7df0.140e2","order":4,"width":0,"height":0,"name":"","label":"LED - Red","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":80,"wires":[]},{"id":"28bbc996.241e46","type":"rpi-gpio out","z":"3ba3792e.ab4596","name":"RGB - Red","pin":"32","set":"","level":"0","out":"out","x":930,"y":420,"wires":[]},{"id":"4d64b0e9.66354","type":"rpi-gpio out","z":"3ba3792e.ab4596","name":"RGB - Green","pin":"36","set":"","level":"0","out":"out","x":930,"y":520,"wires":[]},{"id":"ff7d3f51.4701d","type":"rpi-gpio out","z":"3ba3792e.ab4596","name":"RGB - Blue","pin":"40","set":"","level":"0","out":"out","x":930,"y":620,"wires":[]},{"id":"68ca9e8b.d695d","type":"mqtt in","z":"3ba3792e.ab4596","name":"Output/RGB/Red","topic":"Output/RGB/Red","qos":"2","broker":"6ba61b52.6e44c4","x":560,"y":400,"wires":[["6dacff3d.06853"]]},{"id":"bdde33a9.d2ba9","type":"ui_text","z":"3ba3792e.ab4596","group":"86cf7df0.140e2","order":4,"width":0,"height":0,"name":"","label":"RGB - Red","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":380,"wires":[]},{"id":"cd34fd12.0d84c","type":"ui_text","z":"3ba3792e.ab4596","group":"86cf7df0.140e2","order":4,"width":0,"height":0,"name":"","label":"RGB - Green","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":480,"wires":[]},{"id":"e5ffd05b.3b57d","type":"ui_text","z":"3ba3792e.ab4596","group":"86cf7df0.140e2","order":4,"width":0,"height":0,"name":"","label":"RGB - Blue","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":580,"wires":[]},{"id":"6dacff3d.06853","type":"rbe","z":"3ba3792e.ab4596","name":"RGB - Red","func":"rbe","gap":"","start":"","inout":"out","x":770,"y":400,"wires":[["bdde33a9.d2ba9","28bbc996.241e46"]]},{"id":"53c6c38d.1413dc","type":"rbe","z":"3ba3792e.ab4596","name":"RGB - Green","func":"rbe","gap":"","start":"","inout":"out","x":770,"y":500,"wires":[["4d64b0e9.66354","cd34fd12.0d84c"]]},{"id":"9c001757.427c48","type":"rbe","z":"3ba3792e.ab4596","name":"RGB - Blue","func":"rbe","gap":"","start":"","inout":"out","x":770,"y":600,"wires":[["e5ffd05b.3b57d","ff7d3f51.4701d"]]},{"id":"bd3e5edf.b5e8","type":"rbe","z":"3ba3792e.ab4596","name":"LED - Red","func":"rbe","gap":"","start":"","inout":"out","x":770,"y":100,"wires":[["4aae25f7.e9cbec","248a3aab.bb32c6"]]},{"id":"dccbe778.61ac78","type":"rbe","z":"3ba3792e.ab4596","name":"LED - Green","func":"rbe","gap":"","start":"","inout":"out","x":770,"y":300,"wires":[["e615d8eb.01b068","e33ce03d.6f718"]]},{"id":"28d6fe1f.697ce2","type":"rbe","z":"3ba3792e.ab4596","name":"LED - Yellow","func":"rbe","gap":"","start":"","inout":"out","x":770,"y":200,"wires":[["9f294152.bc2fe","6369e493.cf7e7c"]]},{"id":"315963cc.b8cecc","type":"mqtt in","z":"3ba3792e.ab4596","name":"Output/RGB/Green","topic":"Output/RGB/Green","qos":"2","broker":"6ba61b52.6e44c4","x":570,"y":500,"wires":[["53c6c38d.1413dc"]]},{"id":"755610ba.f7d09","type":"mqtt in","z":"3ba3792e.ab4596","name":"Output/RGB/Blue","topic":"Output/RGB/Blue","qos":"2","broker":"6ba61b52.6e44c4","x":560,"y":600,"wires":[["9c001757.427c48"]]},{"id":"b599c2d9.7f81a","type":"mqtt in","z":"3ba3792e.ab4596","name":"Output/RGB/ALL","topic":"Output/RGB/ALL","qos":"2","broker":"6ba61b52.6e44c4","x":340,"y":500,"wires":[["6dacff3d.06853","53c6c38d.1413dc","9c001757.427c48"]]},{"id":"e8c10950.b68dd8","type":"mqtt in","z":"3ba3792e.ab4596","name":"Output/LED/ALL","topic":"Output/LED/ALL","qos":"2","broker":"6ba61b52.6e44c4","x":340,"y":200,"wires":[["bd3e5edf.b5e8","28d6fe1f.697ce2","dccbe778.61ac78"]]},{"id":"7de7296.edb5bd8","type":"mqtt in","z":"3ba3792e.ab4596","name":"Output/LED/Red","topic":"Output/LED/Red","qos":"2","broker":"6ba61b52.6e44c4","x":560,"y":100,"wires":[["bd3e5edf.b5e8"]]},{"id":"cdd7aadd.d9b6b8","type":"mqtt in","z":"3ba3792e.ab4596","name":"Output/LED/Yellow","topic":"Output/LED/Yellow","qos":"2","broker":"6ba61b52.6e44c4","x":570,"y":200,"wires":[["28d6fe1f.697ce2"]]},{"id":"8e136994.92fd28","type":"mqtt in","z":"3ba3792e.ab4596","name":"Output/LED/Green","topic":"Output/LED/ALL","qos":"2","broker":"6ba61b52.6e44c4","x":570,"y":300,"wires":[["dccbe778.61ac78"]]},{"id":"1e715c7f.267c84","type":"mqtt in","z":"3ba3792e.ab4596","name":"Output/ALL-LED","topic":"Output/ALL-LED","qos":"2","broker":"6ba61b52.6e44c4","x":140,"y":360,"wires":[["dccbe778.61ac78","28d6fe1f.697ce2","bd3e5edf.b5e8","6dacff3d.06853","53c6c38d.1413dc","9c001757.427c48"]]}]